body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ff0000;
}

.text {
    margin-top: 75px;
    margin-left: 150px;
    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.action img {
    height: 5%;
}

.genre {
    border-radius: 20px;
    background-color: rgb(27, 151, 213);
    border: 100px;
    border-color: black;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.navigateur {
    width: 100%;
    position: fixed;
    margin: -28px;
    background-color: #ffb800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.bar {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.bar .logo {
    background-color:red;
    border: 3px solid;
    border-color: black;
    border-radius: 4px;
    padding: 5px;
    align-self: center;
    margin-left: 20px;
}

.logo:hover {
    transition: all;
}

.bar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.bar li {
    border: 5px;
    background-color: aqua;
    border-radius: 10px;
    border-color: black;
}

.bar a,.sommaire a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
}

.sommaire{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    margin: -28px;
    padding-top: 45px;
    z-index: 9;
}

.sommaire ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
    margin-left: -28px;
    justify-content: space-between;
}
